* {
  margin: 0;
  padding: 0; }

/*IMPORT*/
/*VARIABLES*/
/* MIXIN */
/* HOMBRE */
.main__hombre {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F2ECEB; }

/* NOSOTROS */
#gridNosotros {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F2ECEB;
  height: 120vh;
  width: auto; }
  #gridNosotros .textoNosotros {
    text-align: center;
    vertical-align: middle;
    color: #313131;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    padding: 0% 5%; }
  #gridNosotros .row {
    width: 100%;
    height: auto; }
    #gridNosotros .row iframe {
      padding-top: 3vh;
      height: 50vh;
      width: 100%;
      padding-bottom: 3vh; }

@media only screen and (max-width: 600px) {
  #gridNosotros {
    height: 130vh;
    width: auto; } }

/*CONTACTO*/
#main_contacto {
  display: flex;
  padding-right: 8%;
  text-align: space-between;
  height: 100vh;
  width: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F2ECEB;
  padding-top: 6vh; }
  #main_contacto h1 {
    padding-bottom: 5vh; }

@media only screen and (min-width: 600px) {
  #main_contacto {
    height: 100vh;
    width: auto; } }

/*MUJER*/
.main__mujer {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F2ECEB; }

/* CAROUSEL */
#carouselExampleCaptions {
  width: 100%;
  height: 30rem; }
  #carouselExampleCaptions img {
    width: 100%;
    height: 30rem; }

/*TITULOS DE CARTA*/
.card-title {
  background-color: #3F4659;
  text-align: center;
  color: white; }

/* DESCUENTO ANIMACION */
.descuento {
  height: 4vh;
  width: 100%;
  background-color: yellow; }
  .descuento p {
    height: 80%;
    width: 100%;
    text-align: end;
    font-size: 100%; }

.animate__animated.animate__slideInLeft.animate__infinite {
  --animate-duration: 6s; }

/* ENVIOS */
.alert.alert-warning.alert-dismissible.fade.show {
  text-align: center; }

/* NAV */
nav {
  z-index: 1;
  background-color: #3F4659; }

#menuNavegacion ul li a {
  font-size: 2.5vh;
  text-align: center;
  color: #A69C9C;
  font-family: 'Quicksand', sans-serif; }
  #menuNavegacion ul li a:hover {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); }

/* MAIN */
.grid {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: #F2ECEB;
  height: 100vh;
  width: auto;
  display: grid; }

/* texto inicio */
h1 {
  background-color: #F2ECEB;
  margin: 0;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 10vh;
  color: #313131; }

.textoizq {
  grid-area: textoizq;
  text-align: center;
  color: #313131;
  font-size: 100%;
  font-family: 'Bebas Neue', cursive;
  color: #313131;
  width: 100%;
  height: 100%; }

/*imagenes*/
img {
  width: 95%;
  height: 80%; }

/* imagenes 1 */
.imagen1 {
  padding-left: 5%;
  padding-top: 14.5%;
  grid-area: iimg1; }

/* imagenes 2 */
.imagen2 {
  padding-left: 5%;
  padding-top: 14.5%;
  grid-area: iimg2; }

/*imagen 3*/
.imagen3 {
  padding-left: 5%;
  grid-area: iimg3;
  padding-top: 1%; }

/*imagen 4*/
.imagen4 {
  padding-left: 5%;
  padding-top: 1%;
  grid-area: iimg4; }

/* FOOTER */
footer {
  height: 100%;
  width: auto;
  background-color: #252E40; }
  footer p {
    color: gainsboro; }

/* redes */
.caja {
  display: flex; }

.redes {
  text-align: center;
  height: 10vh; }
  .redes img {
    height: 70%;
    width: auto; }

.facebook {
  height: 85%; }

/* pago */
.cajapago {
  height: 20vh; }

.pago, .ubicacion {
  text-align: center;
  height: 15vh; }
  .pago img, .ubicacion img {
    height: 100%;
    width: auto; }

/* ubicacion */
.cajaubicacion {
  height: 20vh; }

.ubicacion iframe {
  height: 100%;
  width: 30vh; }

/*MOVILES*/
@media only screen and (max-width: 600px) {
  /* MAIN */
  .grid {
    width: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "iimg1 iimg2" "textoizq textoizq" "iimg3 iimg4"; }
  /* titulos */
  .grid {
    padding-top: 0vh; }
    .grid .textoizq {
      font-size: 130%; }
    .grid .imagen3 {
      padding-top: 25%; }
    .grid .imagen4 {
      padding-top: 25%; }
  /*ANIMACION*/
  .descuento {
    height: 4.5vh; }
    .descuento p {
      text-align: center;
      font-size: 87%; }
  /* FOOTER */
  footer {
    height: 80vh; }
    footer .caja {
      height: 80vh;
      background-color: #252E40;
      flex-direction: column;
      justify-content: space-around; }
      footer .caja .redes {
        height: 8vh;
        width: auto;
        margin-bottom: 4vh; }
      footer .caja .pago, footer .caja .ubicacion {
        height: 16vh;
        margin-top: 4vh;
        margin-bottom: 4vh; }
      footer .caja .cajaubicacion {
        height: 7vh; }
  /* HOMBRES */
  .main__hombre .container {
    padding-left: 6vh; }
  #cajaTienda1 {
    height: 85%;
    width: 70%; }
  #cajaTienda2 {
    height: 85%;
    width: 70%; }
  #cajaTienda3 {
    height: 85%;
    width: 70%; }
  #cajaTienda4 {
    height: 85%;
    width: 70%; }
  #cajaTienda5 {
    height: 85%;
    width: 70%; }
  #cajaTienda6 {
    height: 85%;
    width: 70%; }
  /*MUJERES*/
  .main__mujer .container {
    padding-left: 6vh; }
  #cajaPromo1 {
    height: 85%;
    width: 70%; }
  #cajaPromo2 {
    height: 85%;
    width: 70%; }
  #cajaPromo3 {
    height: 85%;
    width: 70%; }
  #cajaPromo4 {
    height: 85%;
    width: 70%; }
  #cajaPromo5 {
    height: 85%;
    width: 70%; }
  #cajaPromo6 {
    height: 85%;
    width: 70%; }
  /* EFECTO TARJETAS */
  .card-img-top:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .card-img-top {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%; }
  /* OCULTAR MAPA MAIN*/
  #main_ubicacion {
    display: none; } }

/*TABLETS*/
@media only screen and (min-width: 600px) {
  /* MAIN */
  .grid {
    width: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "textoizq iimg1 iimg2" "textoizq iimg3 iimg4";
    background-color: #F2ECEB; }
  /* titulos */
  .textoizq {
    font-size: 200%;
    text-align: center; }
  /* FOOTER */
  footer {
    height: 22vh;
    width: auto; }
    footer .caja {
      flex-direction: row;
      justify-content: space-around; }
      footer .caja .ubicacion {
        text-align: center;
        margin-top: 7px;
        height: 15vh; }
      footer .caja .pago, footer .caja .ubicacion {
        text-align: center;
        margin-top: 0.7vh;
        height: 15vh; }
  /* EFECTO TARJETAS */
  .card-img-top:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .card img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%; } }

/* PC */
@media only screen and (min-width: 900px) {
  /* MAIN */
  .grid {
    width: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "textoizq iimg1 iimg2" "textoizq iimg3 iimg4";
    background-color: #F2ECEB; }
  /* titulos */
  .textoizq {
    padding-top: 9vh;
    font-size: 250%;
    text-align: center; }
  /* redes */
  .caja {
    display: flex; }
  .redes {
    text-align: center;
    height: 10vh; }
    .redes p {
      padding-top: 3%; }
    .redes img {
      height: 60%;
      width: auto; }
  .facebook {
    height: 85%; }
  /* pago */
  .cajapago {
    height: 20vh; }
  .pago, .ubicacion {
    text-align: center;
    height: 15vh; }
    .pago img, .ubicacion img {
      height: 100%;
      width: auto; }
  /* ubicacion */
  .cajaubicacion {
    height: 20vh; }
  .ubicacion {
    height: 100%;
    width: auto; }
    .ubicacion iframe {
      height: 100%;
      width: 30vh; }
  /* EFECTO TARJETAS */
  .card-img-top:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .card-img-top {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%; }
  #main_contacto {
    padding-left: 10%;
    display: flex;
    text-align: center; }
  /* OCULTAR MAPA FOOTER */
  #ubicacion_contacto {
    display: none; } }
