


/*CONTACTO*/

#main_contacto{
   height: 100vh;
    width: auto;
    @include pagebackground;
       .formulario{
           padding-top: 6vh;
           h1{
               padding-bottom: 5vh;
           }
       }

}

@media only screen and (max-width:600px){
    #main_contacto{
        height: 110vh;
        width: auto;
    }
}
