$colorFondo:#F2ECEB;
$colorTexto:rgb(49, 49, 49);
$colorFooter:#252E40;
$colorTarjeta:#3F4659;
$colorDescuento:yellow;
$colorNav:#3F4659;
$marginTarjeta: 2rem;

@mixin card-size{
    height: 85%;
    width: 70%;
}