*{
    margin: 0;
    padding: 0;
    
}                
                
                /*IMPORT*/
@import "variables.scss";
@import "hombre.scss";
@import "nosotros.scss";
@import "contacto.scss";
@import "mujer.scss";



           /* CAROUSEL */
#carouselExampleCaptions{
    width: 100%;
    height: 30rem;
    img{
        width: 100%;
        height: 30rem;
    }
}


                /*TITULOS DE CARTA*/
.card-title{
    background-color: $colorTarjeta;
    text-align: center;
    color: white;
}

             /* DESCUENTO ANIMACION */

.descuento{
    height: 4vh;
    width: 100%;
    background-color: $colorDescuento;

    p{
        height: 80%;
        width: 100%;
       
        text-align: end;
        font-size: 100%;
    }

}

.animate__animated.animate__slideInLeft.animate__infinite{
    --animate-duration: 6s;

}

/* ENVIOS */
.alert.alert-warning.alert-dismissible.fade.show{
    text-align: center;
}



/* NAV */

nav{
    z-index: 1;
    background-color: $colorNav;
}
#menuNavegacion{
 
    ul{
        li{
            a{
                font-size: 2.5vh;
                text-align: center;
                color: #A69C9C ;
                font-family: 'Quicksand', sans-serif; 

                &:hover{
                    height: 100%;
                    background-color: rgba(0,0, 0, 0.1);
                }
            }
        } 
    }
}



/* MAIN */

.grid{
    @include pagebackground;
    height: 130%;
    width: auto;
    display: grid;
  
                           
}
/* texto inicio */



.textoizq{
    
    grid-area: textoizq;
    text-align: center;
    color: $colorTexto;
    font-size: 100%;
    font-family: 'Bebas Neue', cursive;
    color: $colorTexto;
    width: 100%;
    height: 100%;
}
/*imagenes*/
img{
    width: 95%;
    height: 80%;
  
    
}
/* imagenes 1 */

.imagen1{
    padding-left: 5%;
    padding-top: 14.5%;
    grid-area: iimg1;
}

/* imagenes 2 */



.imagen2{
    padding-left: 5%;
    padding-top: 14.5%;
    grid-area: iimg2;
    
 
}

/*imagen 3*/

.imagen3{
    padding-left: 5%;
    grid-area: iimg3;
    padding-top: 1%;
    
   
}

/*imagen 4*/

.imagen4{
    padding-left: 5%;
    padding-top: 1%;
    grid-area: iimg4;
   
 
}

/* FOOTER */

footer{
    
    height: 100%;
    width: auto;
    background-color: $colorFooter;
            p{
                     color: gainsboro;
            }
    
}


/* redes */



.caja{
    display:flex;
   
    
}
.redes{  
    text-align: center;
    height: 10vh;
    img{
        height: 70%;
        width: auto;
    }
}
.facebook {
    height: 85%;
}

/* pago */

.cajapago{
    height: 20vh; 
}
.pago{
    text-align: center;
    height: 15vh;
    img{
        height: 100%;
        width: auto;
    }
}

/* ubicacion */

.cajaubicacion{
    height: 20vh;
}
.ubicacion{
    @extend .pago;
    iframe{
       height: 100%;
       width: 30vh;
    }
}


/*MOVILES*/

@media only screen and (max-width:600px) {


/* MAIN */
.grid{
    
    width: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33% ; 
    grid-template-areas: "iimg1 iimg2"
                         "textoizq textoizq"
                         "iimg3 iimg4";

    
}
/* titulos */
.grid{
.textoizq{
    font-size: 130%;
}
.imagen3{
    padding-top: 25%;

}
.imagen4{
    padding-top: 25%;
}

}

/*ANIMACION*/
.descuento{
    height: 4.5vh;
    p{
        text-align: center;
        font-size: 87%;
    }
}
/* FOOTER */
footer{
    height: 80vh;
    .caja{
        height: 80vh;
        background-color:$colorFooter;
        flex-direction: column;
        justify-content: space-around;
        .redes{
          
            height: 10vh;
            width: auto;
            margin-bottom: 4vh;
        }
        .pago{
            height: 16vh;
            margin-top: 4vh;
            margin-bottom: 4vh;
        }
        .cajaubicacion{
            height: 7vh;
        }
    }
}
                                             /* HOMBRES */
 .main__hombre{
     .container{
         padding-left: 6vh;
     }

 }
                                                                                                 
 #cajaTienda1{
  @include card-size;
}
  #cajaTienda2{
   @include card-size;
}
  #cajaTienda3{
   @include card-size;
}
  #cajaTienda4{
    @include card-size;
}
  #cajaTienda5{
    @include card-size;
}
   #cajaTienda6{
     @include card-size;
}
                                                                                   /*MUJERES*/
  .main__mujer{
    .container{
        padding-left: 6vh;
    }
  }

                                                                                                   

                                                                            
    #cajaPromo1{
       @include card-size;
}
    #cajaPromo2{
       @include card-size;
}
    #cajaPromo3{
       @include card-size;
}
    #cajaPromo4{
        @include card-size;
}
    #cajaPromo5{
        @include card-size;
}
    #cajaPromo6{
        @include card-size;
}
                                                            /* EFECTO TARJETAS */
.card-img-top:hover{
     -webkit-transform: scale(1.5);
     transform: scale(1.5);
}
                                                        
 .card-img-top{
 -webkit-transition:all .9s ease; 
-moz-transition:all .9s ease; 
-o-transition:all .9s ease; 
-ms-transition:all .9s ease; 
width:100%;
}
                                        

                                     /* NOSOTROS */


}
/*TABLETS*/

@media only screen and (min-width:600px) {

/* MAIN */
    .grid{
    

        width: auto;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
                             "textoizq iimg1 iimg2"
                             "textoizq iimg3 iimg4";
        background-color: #F2ECEB;
        
    }
/* titulos */

.textoizq{
        font-size: 200%;
        text-align: center;
    }
/* FOOTER */
 footer{
        height: 22vh;
        width: auto;
        .caja{
            flex-direction: row;
            justify-content: space-around;
            .ubicacion{
                text-align: center;
                margin-top: 7px;
                height: 15vh;
        }
            .pago{
                text-align: center;
                margin-top: 0.7vh;
                height: 15vh;
        }
        
    }
}
                                                                

                                                                                    
                                                                           

                                                            /* EFECTO TARJETAS */
.card-img-top:hover{
     -webkit-transform: scale(1.5);
     transform: scale(1.5);
}
                                                        
 .card img{
 -webkit-transition:all .9s ease; 
-moz-transition:all .9s ease; 
-o-transition:all .9s ease; 
-ms-transition:all .9s ease; 
width:100%;
}
        
}
                        
/*PC*/

@media only screen and (min-width:900px) {

                                /* MAIN */
.grid{
    width: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
                         "textoizq iimg1 iimg2"
                         "textoizq iimg3 iimg4";
    background-color: #F2ECEB;
}


/* titulos */

.textoizq{
    padding-top: 10%;
    font-size: 400%;
}

/* redes */



.caja{
    display:flex;
}
.redes{  
    
    text-align: center;
    height: 10vh;
    p{
        padding-top: 3%;
    }
    img{
        height: 80%;
        width: auto;
        
    }
}
.facebook {
    height: 85%;
}

/* pago */

.cajapago{
    height: 20vh; 
}
.pago{
    text-align: center;
    height: 15vh;
    img{
        height: 100%;
        width: auto;
    }
}


/* ubicacion */

.cajaubicacion{
    height: 20vh;
}
.ubicacion{
    height: 100%;
    width: auto;
    iframe{
       height: 100%;
       width: 30vh;
    }
}



 
                    /* EFECTO TARJETAS */
.card-img-top:hover{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
}
                
.card-img-top{
        -webkit-transition:all .9s ease; 
        -moz-transition:all .9s ease; 
        -o-transition:all .9s ease; 
        -ms-transition:all .9s ease; 
        width:100%;
 }
}
